In [1]:
fruit = "apple"

In [4]:
print(fruit)

apple

In [8]:
fruit = "banana"

In [9]:
print(fruit)

banana

In [10]:
MAX_SCORE = 100

In [11]:
MAX_SCORE = 90
print(MAX_SCORE)

90

In [13]:
float("3.14")

3.14

In [16]:
int(float("3.98"))

3

In [18]:
not(5 > 3)

False

In [22]:
if ('c' in 'abs'): print(True) 
else: print(False)

False

In [1]:
text = "MaSoUmEh TaFvIzI"

In [2]:
text.lower()

'masoumeh tafvizi'

In [3]:
text.upper()

'MASOUMEH TAFVIZI'

In [5]:
text.capitalize()

'Masoumeh tafvizi'

In [5]:
name = input("Enter your name: ")
print(name)

Masumeh

In [6]:
greeting = "Hello, {name}  . How are you today ? {final_msg}"
greeting.format(name = "Masoumeh", final_msg = "Have a nice day!")

'Hello, Masoumeh  . How are you today ? Have a nice day!'

In [3]:
colors = ["red", "green", "blue", "yellow"]
colors.remove("blue")
colors.insert(2, "acqua")
print(colors)

['red', 'green', 'acqua', 'yellow']

In [7]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(nums[::2])

[0, 2, 4, 6, 8]

In [8]:
city_presence = {'New York': True, 'Berlin': True, 'Tokyo': True, 'Sydney': True}

In [9]:
if 'London' in city_presence:
    print("London is present")
if 'Tokyo' in city_presence:
    print("Tokyo is present")

Tokyo is present

In [10]:
student_score = {'Alice': 85, 'Bob': 92}
student_score.setdefault('Bob', 0)
student_score.setdefault('Charlie', 0)
print(student_score)

{'Alice': 85, 'Bob': 92, 'Charlie': 0}

In [11]:
prefrences = {'color': 'blue', 'food': 'pizza', 'drink': 'water'}
prefrences.update({'drink': 'orange juice'})
print(prefrences)

{'color': 'blue', 'food': 'pizza', 'drink': 'orange juice'}

In [12]:
stock_A = {'apples' : 5, 'oranges': 7}
stock_B = {'oranges': 12, 'bananas': 3}

stock_A.update(stock_B)
print(stock_A)

{'apples': 5, 'oranges': 12, 'bananas': 3}

In [13]:
account_info = {'user1': {'name': 'Alice', 'password': 'alice123'}, 'user2': {'name': 'Bob', 'password': 'bobsecure'}}
print(account_info['user1']['password'])

alice123

In [14]:
new = list(range(0, 10))
print(new)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
l = list(range(0, 1000000))
s = set(l)

In [18]:
%%timeit 
0 in l

10.9 ns ± 0.447 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [19]:
%%timeit
-1 in l

4.93 ms ± 201 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
%%timeit
0 in s

10 ns ± 0.138 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [21]:
%%timeit
-1 in s

9.91 ns ± 0.172 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [4]:
colors = {'red', 'green', 'blue', 'yellow'}
print(colors)
'purple' in colors

{'blue', 'yellow', 'red', 'green'}

False

In [24]:
colors.add('purple')
print(colors)
'purple' in colors

{'yellow', 'red', 'blue', 'green', 'purple'}

True

In [25]:
numbers_list = [1, 2, 3, 4, 3,2,1, 5,6,5,4]
unique_numbers = set(numbers_list)
print(len(unique_numbers))

6

In [26]:
flavors = {'vanilla', 'chocolate', 'strawberry'}
flavors.update({'mint', 'bubblegum'})
print(flavors)

{'mint', 'bubblegum', 'strawberry', 'chocolate', 'vanilla'}

In [27]:
tools = {'hammer', 'screwdriver', 'wrench', 'pliers'}
print(tools)
tools.remove('wrench')
print(tools)
tools.discard('wrench')
print(tools)

{'screwdriver', 'hammer', 'wrench', 'pliers'}
{'screwdriver', 'hammer', 'pliers'}
{'screwdriver', 'hammer', 'pliers'}

In [28]:
planets = {'Jupiter', 'Earth', 'Mars'}
planets.clear()
print(planets)

set()

In [29]:
set_x = {10, 20, 30, 40, 50}
set_y = {30, 40, 50, 60, 70}
set_z = {5, 15, 25, 35}

In [30]:
print(set_x.union(set_y))
print(set_x | set_y)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [31]:
set_x.intersection(set_y, set_z)

set()

In [32]:
print(set_y.symmetric_difference(set_z))

print(set_y ^ set_z)

{35, 5, 70, 40, 15, 50, 25, 60, 30}
{35, 5, 70, 40, 15, 50, 25, 60, 30}

In [33]:
A =  set_x.union(set_y).union(set_z)
print(A)

{35, 5, 70, 40, 10, 15, 50, 20, 25, 60, 30}

In [34]:
permissions = frozenset(['read', 'write', 'execute'])
print(permissions)
"delete" in permissions

frozenset({'read', 'execute', 'write'})

False

In [35]:
A = frozenset([1, 2, 3])
B = frozenset([2, 3, 4])
print(A | B)
print(A & B)
print(A - B)

frozenset({1, 2, 3, 4})
frozenset({2, 3})
frozenset({1})

In [36]:
graph = {
    frozenset((1,2)) : 10,
    frozenset((1,3)) : 15,
    frozenset((2,3)) : 7
    }

In [37]:
fruits = ["apple", "banana", "apple", "cherry"]
print(fruits)
unique_fruits = frozenset(fruits)
print(unique_fruits)
new_friuts = list(unique_fruits)
print(new_friuts)

['apple', 'banana', 'apple', 'cherry']
frozenset({'banana', 'apple', 'cherry'})
['banana', 'apple', 'cherry']

In [38]:
name = "Alice"
age = 17
grade = "A"
subject = "Mathematics"
student_info = (name, age, grade, subject)
print(f"student_info: {student_info}")

student_info: ('Alice', 17, 'A', 'Mathematics')

In [39]:
coordinates = (4, 5, 6)
x, y, z = coordinates
print(f"x: {x}, y: {y}, z: {z}")

x: 4, y: 5, z: 6

In [40]:
score = [72, 85, 90]
math_score, science_score, english_score = score
print(f"Math: {math_score}, Science: {science_score}, English: {english_score}")

Math: 72, Science: 85, English: 90

In [41]:
student = {
    'name': 'John Doe',
    'age': 20,
    'email': 'john.doe@example.com'
}
student_name, student_age, student_email = student.values()
print(f"Name: {student_name}, Age: {student_age}, Email: {student_email}")

Name: John Doe, Age: 20, Email: john.doe@example.com

In [42]:
l = [1, 2, 3, 4, 5, 6, 7, 8]
first_num , second_num, *remaining_numbers = l
print(first_num, second_num, remaining_numbers)

1 2 [3, 4, 5, 6, 7, 8]

In [43]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [44]:
age = int(input("Enter your age: "))
price = 10
if age < 14:
    price = int(price * 0.5)
    print(f"Child ticket price: {price}$")
elif age >= 65:
    price = int(price * 0.70)
    print(f"Senior ticket price: {price}$")
else:
    print(f"Adult ticket price: {price}$")

Adult ticket price: 10$

In [45]:
temperatures = {
    "Monday": 22,
    "Tuesday": 24,
    "Wednesday": 19,
    "Thursday": 21,
    "Friday": 23,
    "Saturday": 25,
    "Sunday": 20
}
total_temp = 0
for temp in list(temperatures.values()):
    total_temp += temp
print(f"Average temperature for the week is: {(total_temp / len(temperatures)):.1f}°C")

Average temperature for the week is: 22.0°C

In [46]:
temperatures = {
    "Monday": 22,
    "Tuesday": 24,
    "Wednesday": 19,
    "Thursday": 21,
    "Friday": 23,
    "Saturday": 25,
    "Sunday": 20
}
temps = list(temperatures.values());
max_temp = temps[0]
min_temp = temps[0]
for temp in temps:
    if temp > max_temp:
        max_temp = temp
    if temp < min_temp:
        min_temp = temp
print(f"Max temperature: {max_temp}°C")
print(f"Min temperature: {min_temp}°C")

Max temperature: 25°C
Min temperature: 19°C

In [47]:
warm_days = 0
for temp in temps:
    if temp >= 22:
        warm_days += 1

print(f"Number of warm days (above 22°C): {warm_days}")

Number of warm days (above 22°C): 4

In [48]:
fluctuations = []

for i in range(len(temps)-1):
    fluctuation = abs(temps[i+1] - temps[i])
    fluctuations.append(fluctuation)

print(f"fluctuations: {fluctuations}")

fluctuations: [2, 5, 2, 2, 2, 5]

In [49]:
initial_balance = 1000  # The starting balance in the account.
monthly_deposit = 100   # The fixed amount deposited into the account each month.
annual_interest_rate = 0.05  # The annual interest rate as a decimal (5% here).
savings_goal = 2000     # The target balance you want to reach
number = 0
balance = initial_balance
while balance < savings_goal:
    balance += monthly_deposit
    monthly_interest = (balance * annual_interest_rate) / 12
    balance += monthly_interest
    number += 1

print(f"It will take {number} months to reach the savings goal.")

It will take 10 months to reach the savings goal.

In [50]:
initial_balance = 1000  # The starting balance in the account.
monthly_deposit = 100   # The fixed amount deposited into the account each month.
annual_interest_rate = 0.05  # The annual interest rate as a decimal (5% here).
savings_goal = 4000     # The target balance you want to reach.

balance = initial_balance
month = 0
while balance < savings_goal:
    balance += monthly_deposit
    month += 1
    if month % 12 == 0 :
        balance += (balance * annual_interest_rate)
        print(f"Account balance after {month // 12} year: {balance:.2f}$")

Account balance after 1 year: 2310.00$
Account balance after 2 year: 3685.50$

In [51]:
numbers = [7, 8, 0, 4, 3, 0, 5, 6, 0, 1]
for ind, num in enumerate(numbers):
    if num == 0:
        print(f"Zero found at index {ind}!")
        break

Zero found at index 2!

In [52]:
numbers = [7, 8, 0, 4, 3, 0, 5, 6, 0, 1]
for num in numbers:
    if num == 0:
        print("Zero found!")
        continue
    print(num)

7
8
Zero found!
4
3
Zero found!
5
6
Zero found!
1

In [53]:
numbers = [7, 8, 0, 4, 3, 0, 5, 6, 0, 1]
for num in numbers:
    if num != 0:
        pass
    else: 
       print("zero found!")

zero found!
zero found!
zero found!

In [54]:
numbers = [0, 0, 0, 0, 0, 8, 0, 0, 0, 0]
max_retries = 3
retries = 0
while retries < max_retries :
    for num in numbers:
        if num != 0:
            print("connected")
            break
    else:
        print("All connection attempts failed. Retrying...")
        retries += 1
        continue
    break

connected

In [55]:
products = [
    {"name": "Laptop", "category": "Electronics", "price": 999.99},
    {"name": "Smartphone", "category": "Electronics", "price": 699.99},
    {"name": "Book: The Alchemist", "category": "Books", "price": 14.99},
    {"name": "Book: Harry Potter", "category": "Books", "price": 29.99},
    {"name": "Bluetooth Headphones", "category": "Electronics", "price": 199.99},
    {"name": "Monitor", "category": "Electronics", "price": 149.99},
    {"name": "Book: Python Programming", "category": "Books", "price": 49.99},
    {"name": "Desk Lamp", "category": "Furniture", "price": 24.99},
    {"name": "Mousepad", "category": "Accessories", "price": 5.99},
    {"name": "Stylus Pen", "category": "Accessories", "price": 12.99},
]
electronic_names = [product for product in products if product['category'] == 'Electronics']
expensive_products = {product['name']: product['price'] for product in products if product['price'] > 50}
total_price = sum(product['price'] for product in products)


print(f"Electronic Products: {electronic_names}")
print(f"Expensive Products: {expensive_products}")
print(f"Average Price of All Products: {total_price / len(products):.2f}")

Electronic Products: [{'name': 'Laptop', 'category': 'Electronics', 'price': 999.99}, {'name': 'Smartphone', 'category': 'Electronics', 'price': 699.99}, {'name': 'Bluetooth Headphones', 'category': 'Electronics', 'price': 199.99}, {'name': 'Monitor', 'category': 'Electronics', 'price': 149.99}]
Expensive Products: {'Laptop': 999.99, 'Smartphone': 699.99, 'Bluetooth Headphones': 199.99, 'Monitor': 149.99}
Average Price of All Products: 218.89

In [56]:
words = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape"]
scores = [88, 92, 78, 90, 89, 76, 61]

long_words = [word for word in words if len(word) > 5]
lengthses = {len(word) for word in words}
words_length = {word: len(word) for word in words}
Grades = ['Pass' if score >= 75 else 'Fail' for score in scores]


print(long_words)
print(lengthses)
print(words_length)
print(Grades)

['banana', 'cherry', 'elderberry']
{3, 4, 5, 6, 10}
{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4, 'elderberry': 10, 'fig': 3, 'grape': 5}
['Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Pass', 'Fail']

In [57]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

T = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

print(f"Transposed matrix: {T}")

Transposed matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [58]:
def great():
    print("Hello, World!")

great()

Hello, World!

In [59]:
def personilize_greeting(name):
    print(f"Hello, {name}!")

personilize_greeting("Alice")

Hello, Alice!

In [60]:
def circle_area(radius):
    return 3.14159 * radius ** 2
circle_area(5)

78.53975

In [61]:
def add_numbers(num1, num2):
    return num1 + num2
add_numbers(3, 7)

10

In [62]:
def print_menu():
    print("1. Starter")
    print("2. Main Course")
    print("3. Dessert")
    print("4. Beverage")
print_menu()

1. Starter
2. Main Course
3. Dessert
4. Beverage

In [63]:
def min_max(values):

    return min(values), max(values)
min_max([3, 1, 4, 1, 5, 9, 2, 6, 5])
print(f"Min and Max: {min_max([3, 1, 4, 1, 5, 9, 2, 6, 5])}")

Min and Max: (1, 9)

In [64]:
def schedule_visit(section,time,actiity="Feeding"):
    print(f"Scheduled a {actiity} visit to section {section} at {time}.")
schedule_visit("Reptiles", "14:00")
schedule_visit("Birds", "10:00", "Educational Talk")

Scheduled a Feeding visit to section Reptiles at 14:00.
Scheduled a Educational Talk visit to section Birds at 10:00.

In [65]:
def add_special_request(section, request="None"):
    if request == "None":
        print(f"No special requests have been made for the visit to section {section}.")
    else:    
        print(f"Special request for section {section}: {request}")

add_special_request("Aquatic Animals", "Wheelchair Access")

Special request for section Aquatic Animals: Wheelchair Access

In [66]:
def add_special_request(section, request="None"):
    if request == "None":
        print(f"No special requests have been made for the visit to section {section}.")
    else:    
        print(f"Special request for section {section}: {request}")

add_special_request("Aquatic Animals", "Wheelchair Access")

Special request for section Aquatic Animals: Wheelchair Access

In [67]:
def water_state (num):
    if type(num) != (int or float):
        print("Invalid input: Please enter a numeric value.")
        return 
    if num <= 0:
        return "Solid"
    if 0 < num < 100:
        return "Liquid"
    if num >= 100:
        return "Gas"
    
water_state("sfd")

Invalid input: Please enter a numeric value.

In [69]:
def plan_session(*args):
    print(list(args))

plan_session("Math", "10:00 AM", "Room 101", "Bring calculator")

web_development_Basics = ["HTML", "CSS", "JavaScript", "Python", "Django"]
plan_session(*web_development_Basics)

['Math', '10:00 AM', 'Room 101', 'Bring calculator']
['HTML', 'CSS', 'JavaScript', 'Python', 'Django']

In [70]:
def session_details(**kwargs):
    print(kwargs)


dictionary = {
    'name' : 'Math',
    'number_of_attendees' : 30,
    'room_number' : 101
}
session_details(**dictionary)

{'name': 'Math', 'number_of_attendees': 30, 'room_number': 101}

In [ ]:
def calculate_rectangle_area(length: int, width: int) -> int:
    """
    Calculate the area of a rectangle.

    Parameters
    length (float): Length of the rectangle.
    width (float): Width of the rectangle.

    Returns
    float : Area of the rectangle as an integer.
    """
    return length * width


#print(calculate_rectangle_area.__doc__)
help(calculate_rectangle_area)